.start-details {
  position: fixed;
  inset: 0;

  background-size: cover;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url("../assets/images/background/background2.png");
}
